<!DOCTYPE html>
<html xmlns:th=""http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>Buscar usuario via POST</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/usuarios/buscarusuario}" method="post">"

			<div class = "form-group">
				<label> Apellido del usuario a buscar</label>
				<input type="text" class = "form-control"  id="apellidoUsuario" name="apellidoUsuario" placeholder="Nombre del usuario">
			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
		
	</div>

</body>
</html>