<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">
	<!-- bean que se inyectars por dependencia en constructor de Defensa -->
	<bean id="posicion" class="cl.curso.id.posicion.PosicionAsignada"></bean>	
	
	<!-- bean que recibe la ID x constructor -->
	<bean id="defensa" class="cl.curso.id.funcion.Defensa">
		<constructor-arg ref="posicion"></constructor-arg>
	</bean>

	<!-- bean que recibe la ID x setter -->
	<bean id="delantero" class="cl.curso.id.funcion.Delantero" scope="prototype">
		<property name="posicion" ref="posicion" ></property>
	</bean>
	
	<bean id="arquero" class="cl.curso.id.funcion.Arquero" scope="singleton" init-method="inicioBeanArquero" destroy-method="finBeanArquero"></bean>
	
</beans>